* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    justify-content: center;
}
@font-face{
    font-family: 'lubalin graph';
   src: url("../fonts/itc-lubalin-graph-std-bold.otf") format('opentype');
}@font-face{
    font-family: 'Whitney Medium';
    src: url("../fonts/Whitney-Medium.ttf") format('truetype');
}
body {
    font: 400 14px;
    font-family: 'lubalin graph', 'Whitney Medium';
    width: 100%;
    color: white;
}
img {
    
    max-width: 100px;
    max-height: 150px;
    margin-right: 20px;
}
.fullcontainer{
    margin: 0 10%;
}
.header-upper {
    background-color: black;
    display: flex;
}
.header-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-left h2{
    font-size: 36;
}
.content i{
    background-color: yellow;
    color: black;
}
.publicity {
    width: 400px;
    margin: 10px 50px 10px 200px;
    background-color: green;
    height: 70px;
}

.head-graybar{
    background-color: #4c4c4c;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px 10px 0;
}
.head-graybar input{
    background-color: black;
    border: 0;
    font-family: 'lubalin graph';
    text-align: center;
    color: white;
}
.today-bar {

    margin-top: 20px;
    border-top: solid 5px;
    border-color: #ffea00;
    background-color: #009ade;
    font-size: 26px;
    padding: 5px;
}
.middle-columns{
    margin: 20px 0;
    display: flex;
}
.hour-cards {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.hour-card {
    text-align: center;
    font-size: 30;
    height: 145px;
    width: 145px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 50px;
    opacity: 0.5;
}
.hour-card:hover {
    opacity: 1.0;
    cursor: pointer;
}
.prog-column {
    width: 30%;
    background: #009ade;
    padding: 30px 20px;
    opacity: 0.5;
}
.hour-title{
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}
.prog-card {
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
    height: 130px;
}
.prog-card:hover{
    opacity: 0.7;
    cursor: pointer;
}
.prog-card p:first-of-type{
    font-size: 20px;
    transform: rotate(-90deg);
}
.card1{
    background-color: #009ade;
}
.card2{
    background-color: #ec0080;
}
.card3{
    background-color: #ffea00;
}
.right{
    text-align: center;
    height: 145px;
    width: 145px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-top: 50px;
    opacity: 0.5;
    color: black;
    font-size: 60px;
}
.right:hover {
    opacity: 1.0;
    cursor: pointer;
}
.carrousel-persons img {
    max-width:150px;
    max-height:200px;
    width: auto;
    height: auto;
    cursor: pointer;
}
.carrousel-persons{
    background-color: #009ade;
    border-bottom: solid 10px #ffea00;
    padding-bottom: 20px;
}
.owl-carousel{
    background-color: #ec0080;
    height: 170px;
    padding: 0 50px;
}
.footer-graybar {
    margin-top: 20px;
    background-color: #4c4c4c;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    font-size: 14;
}
.links {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.links a {
    margin: 5px 20px;
    color: white;
    text-decoration: none;
}

.owl-nav button span {
    font-size: 15em;
    color: black;
    font-family: Arial;
    opacity: 0.7;
}
.owl-nav button span:hover{
    opacity: 1;
}
.owl-nav button:first-child span{
    position: absolute;
    left: -540px;   
    top: -270px;
}
.owl-nav button{
    position: relative;
}
.owl-dots{
    display: none;
}
.owl-nav button:last-child span{
    position: absolute;
    right: -540px;   
    top: -270px;
}
.charmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .charmodal-content {
    background-color: #009ade;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px 0; 
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .charclose {
    color: white;
    float: right;
    font-size: 26px;
    font-weight: bold;
    background-color: #ec0080;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 10px;
  }
  
  .charclose:hover,
  .charclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;;
  }

.upper-wrapper {
    background-color: #ffea00;
    margin: 50px 0;
    padding: 30px;
    display: flex;
    align-items: center;
}
.upper-content{
    background-color: #ec0080;
    width: 100%;
    font-size: 36px;
    text-align: center;
}
.upper-wrapper img{
    float: left;
    background-color: white;
    border: solid #ec0080 5px;
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    width: auto;
    height: auto;
}
.upper-box{
    font-size: 40px;
    padding: 20px;
    border-radius: 15px;
    background-color: #009ade;
    border: solid 3px white;
    height: fit-content;
    margin: 0 20px;
}
.bottom{
    display: flex;
}
.cardCalendar{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: white;
    color: #ec0080;
    padding: 20px;
    margin: 15px;
}
.cardCalendar p:last-child{
    color: #ffea00;
}

/* The Modal (background) */
.progmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .progmodal-content {
    background-color: #ec0080;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px 0;
    border: 1px solid #888;
    border-radius: 15px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .progclose {
    color: white;
    float: right;
    font-size: 26px;
    font-weight: bold;
    background-color: #009ade;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 10px;
  }
  
  .progclose:hover,
  .progclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.backYellow{
    background-color: #ffea00;
    display: flex;
    padding: 20px 0;
    margin: 50px 0 0 0;
    justify-content: space-between;
    width: 100%;
}
.headermodal img{
    background-color: white;
    max-width: 200px;
    max-height: 200px;
    height: auto;
    width: auto;
    border: solid 10px #009ade;
    border-radius: 50%;
    margin: 0;
}
.headermodal{
    display: flex;
    align-items: center;
    margin: 0 50px;
    justify-content: space-between;
    width: 100%;
}
.headertitle{
    background-color: #009ade;
    margin: 20px 20px 20px 0;
    padding: 20px;
}
.headertitle h3{
    font-size: 44px;
}
.headertitle h4{
    font-size: 38px;
}
.headerbox{
    background-color: #009ade;
    padding: 1px 0 0 0 ;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    border: solid 2px white;
    font-size: 38;
}
.bodymodal, .bottommodal{
    padding: 20px;
    border-bottom: solid 5px #ffea00;
}
.bodymodal h3, .infos, .bottommodal p{
    margin: 5px;
}
.infos{
    margin-bottom: 20px;
}